body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    font-family: 'Times New Roman', Times, serif;
  }

  /*styles for main game */
  #game-container {
    width: 80%;
    max-width: 1200px;
  }

  #game-container div {
    background-color: #333;
    padding: 5px;
  }

  #game-container div:nth-child(2n) {
    background-color: #333;
  }

  #title {
    position: fixed;
    font-size: 50px;
    display: flex;
    color: rgb(73, 107, 190);
  }

  #github-link{
    position: absolute;
    left: 0px;
    font-size: 20px;
  }

  #help-button{
    position: absolute;
    right: 0px;
    font-size: 20px;
  }

  #word-view{
    position: absolute;
    text-align: center;
    bottom: 120px;
    max-width: 1200px;
    width: 80%;
    height: 50px;
    font-size: 40px;
    color: rgb(73, 107, 190);
    border-radius: 4px;
    border: 1px solid rgb(73, 107, 190);
    background-color: #444;
  }

  #used-letters {
    position: absolute;
    bottom: 60px;
    max-width: 1200px;
    width: 80%;
    font-size: 30px;
    color: rgb(73, 107, 190);
    border-radius: 4px;
    border: 1px solid rgb(73, 107, 190);
    background-color: #444;
  }

  #guess-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: #333;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #guess-input {
    text-align: center;
    flex-grow: 1;
    height: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 107, 190);
    background-color: #444;
    border: 1px solid rgb(73, 107, 190);
    border-radius: 4px;
  }

  #guess-button{
      font-size: 30px;
  }

  /* styles for stat area */
  #stats-title{
    position: absolute;
    top: 5px;
    left: 35%;
    font-size: 30px;
  }

  .stats-area {
    display: block;
    position: absolute;
    bottom: 30%;
    left: 40%;
    border: 2px solid rgb(73, 107, 190);
    border-radius: 4px;
    z-index: 9;
  }

  .stats-container {
    max-width: 300px;
    padding: 10px;
    color: rgb(73, 107, 190);
    background-color: #444;
  }

  
  /*styles for the help popup */
  #close-button{
    position: absolute;
    bottom: 5px;
    left: 40%;
    font-size: 20px;
  }

  #help-title{
    position: absolute;
    top: 5px;
    left: 40%;
    font-size: 30px;
  }


  .help-popup {
    display: none;
    position: absolute;
    bottom: 30%;
    left: 40%;
    border: 2px solid rgb(73, 107, 190);
    border-radius: 4px;
    z-index: 9;
  }

  .help-container {
    max-width: 300px;
    padding: 10px;
    color: rgb(73, 107, 190);
    background-color: #333;
  }

  /* general element themes */
  .button{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 107, 190);
    background-color: #444;
    border: 1px solid rgb(73, 107, 190);
    border-radius: 4px;
  }

  button:hover{
    opacity: 0.9;
  }

  .label{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 107, 190);
    text-align: center;
  }
  
